# Logs
*.log
npm-debug.log
yarn-error.log

# OS / Editor
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Env / Auth
.env
.env.backup
.env.production
/auth.json

# PHP tools / cache
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.phpunit.cache/
 /.phpunit.cache/**

# Laravel / Node
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/ssr
/vendor

# Homestead
Homestead.json
Homestead.yaml

# (Optional) Wayfinder (kalau memang kamu pakai)
 /resources/js/actions
/resources/js/routes
/resources/js/wayfinder